th,td{
    border:1px solid black;
    font: size 150px;
    
    color:white;
    text-align:center;
    border-style: solid;
    background-color: blueviolet;
    border-color: white;
}
th{
    background-color: red;
}