
body {
    background-color: powderblue;
}
h1 {
    font-size: 40px;
    text-align: center;
    color:blueviolet}
h2{
    color:antiquewhite;
    font-family:verdana;
    font-size: 20px;
    text-align: right;
    background-color: brown;
}
